/* general styling for entire app */
body {
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
}


/* styling for 'Welcome' and 'Loading data' */
.mainTitle {
    margin: 1em;
    padding: 1em;
    position: relative;
    color: green;
    background-color: rgb(32, 32, 32);
    opacity: 90%;
    font-size: 5vw;
    text-align: center;
    justify-content: center;
}


/* styling for rest of app body outside of titles */
.mainBody {
    text-align: center;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    opacity: 90%;
    display: block;
    margin: 5vw;
    padding: 1vw;
    border-radius: 3vw;
    
}

/*********************************************************************/

/* styling for the login/signup section */
#loginBody {
    margin-left: 25vw;
    margin-right: 25vw;
    border-radius: 1vw;
    font-size: 2vw;
}

/* styling for wording before place to put in input */
.inputPrompt {
    border: 1vw;
    padding: 1vw;
    display: block;
    background-color: rgb(64, 64, 64);
    margin: 1vw;
    border-radius: 0.5vw;

}

/* styling for input spaces, such as username and password input spaces */
.inputSpace {
    font-size: 2vw;
    background-color: rgb(192, 192, 192);
    border-radius: 0.5vw;
    border-color: black;
    border: solid 0.25vw;
}

.inputSpace:hover {
    background-color: white;
}

/* styling for the submit button below enter username and password fields */
#submitter {
    height: 5vw;
    width: 20vw;
    border-radius: 2vw;
    background: transparent;
    border: 0.5vw solid white;
    font-size: 2vw;
    color: white;
    transition-duration: 0.5s;
}
#submitter:hover {
    height: 6vw;
    width: 24vw;
    font-size: 2.4vw;
    background: rgb(64, 64, 64);
}

/* additional basic styling to keep other elements consistent with rest of styling */
#topicForm {
    display: inline-block;
}
.descriptor {
    font-size: 2vw;
    margin: 1vw;
}

/*********************************************************************/

/* media queries to alter styling, 
such that displays take up proportionally more space on screen,
for smaller screen sizes
*/
@media screen and (max-width: 1000px) {
    #loginBody {
        margin-left: 15vw;
        margin-right: 15vw;
        font-size: 3vw;
    }
    .inputSpace {
        font-size: 3vw;
    }
    #submitter {
        height: 7.5vw;
        width: 30vw;
        font-size: 3vw;
    }
    #submitter:hover {
        height: 9vw;
        width: 36vw;
        font-size: 3vw;
    }
    .descriptor {
        font-size: 3vw;
        margin: 1.5vw;
    }
}

@media screen and (max-width: 600px) {
    #loginBody {
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 4vw;
    }
    .inputSpace {
        font-size: 4vw;
    }
    #submitter {
        height: 10vw;
        width: 40vw;
        font-size: 4vw;
    }
    #submitter:hover {
        height: 12vw;
        width: 48vw;
        font-size: 4vw;
    }
    .descriptor {
        font-size: 4vw;
        margin: 2vw;
    }
}

/*********************************************************************/

