
/* styling for 'question time' title */
.qTitle {
    animation: colorChange 2s infinite linear;
    color: red;
    font-size: 5vw;
}

/* alternates between colours to be more visually interesting */
@keyframes colorChange {
    0% {color: red}
    50% {color:cyan}
    100% {color:red}
}

/* styling for button options for question */
#buttonSection {
    align-items: center;
    justify-content: center;
}
.qButton {
    height: 16vw;
    width: 32vw;
    border-radius: 2vw;
    background: transparent;
    border: 1vw solid;
    font-size: 2.4vw;
    transition-duration: 0.5s;
}
.qButton:hover {
    background-color: white;
    color: black;
    height: 19.2vw;
    width: 38.4vw;
}

/* giving different colours for each button */
#button0 {
    color: red;
}
#button1 {
    color: cyan;
}
#button2 {
    color: yellowgreen;
}
#button3 {
    color: orange;
}

/*********************************************************************/

/* media queries to alter styling, 
such that displays take up proportionally more space on screen,
for smaller screen sizes
*/

@media screen and (max-width: 1000px) {
    .qButton {
        height: 20vw;
        width: 40vw;
        font-size: 3vw;
    }
    .qButton:hover {
        height:24vw;
        width: 48vw;
    }
}
@media screen and (max-width: 600px) {
    .qButton {
        height: 25vw;
        width: 75vw;
        font-size: 4vw;
    }
    .qButton:hover {
        height: 30vw;
        width: 90vw;
    }
}

/*********************************************************************/