
.qTitle {
    animation: colorChange 2s infinite linear;
    color: red;
    font-size: 5vw;
}

@keyframes colorChange {
    /* You could think of as "step 1" */
    0% {color: red}
    50% {color:cyan}
    100% {color:red}
}



#buttonSection {
    align-items: center;
    justify-content: center;
}

.qButton {
    height: 16vw;
    width: 32vw;
    border-radius: 2vw;
    background: transparent;
    border: 1vw solid;
    font-size: 2.4vw;
    transition-duration: 0.5s;
}

#button0 {
    color: red;
}
#button1 {
    color: cyan;
}
#button2 {
    color: yellowgreen;
}
#button3 {
    color: orange;
}


.qButton:hover {
    background-color: white;
    color: black;
    height: 19.2vw;
    width: 38.4vw;
}

/*********************************************************************/

@media screen and (max-width: 1000px) {
    .qButton {
        height: 20vw;
        width: 40vw;
        font-size: 3vw;
    }
    .qButton:hover {
        height:24vw;
        width: 48vw;
    }
}

@media screen and (max-width: 600px) {
    .qButton {
        height: 25vw;
        width: 75vw;
        font-size: 4vw;
    }
    .qButton:hover {
        height: 30vw;
        width: 90vw;
    }

}

/*********************************************************************/