body {
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
}


.mainTitle {
    margin: 1em;
    padding: 1em;
    position: relative;
    color: green;
    background-color: rgb(32, 32, 32);
    opacity: 90%;
    font-size: 5vw;
    text-align: center;
    justify-content: center;
}

.mainBody {
    text-align: center;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    opacity: 90%;
    display: block;
    margin: 5vw;
    padding: 1vw;
    border-radius: 3vw;
    
}

/*********************************************************************/

.infoSection {
    display: inline-block;
}

.mainSelector {
    border: 10px;
    display: inline-block;
}

.mainInfo {
    border: 10px;
    display: inline-block;
}

/*********************************************************************/

#loginBody {
    margin-left: 25vw;
    margin-right: 25vw;
    border-radius: 1vw;
    font-size: 2vw;
}


.inputPrompt {
    border: 1vw;
    padding: 1vw;
    display: block;
    background-color: rgb(64, 64, 64);
    margin: 1vw;
    border-radius: 0.5vw;

}

.inputSpace {
    font-size: 2vw;
    background-color: rgb(192, 192, 192);
    border-radius: 0.5vw;
    border-color: black;
    border: solid 0.25vw;
}


#submitter {
    height: 5vw;
    width: 20vw;
    border-radius: 2vw;
    background: transparent;
    border: 0.5vw solid white;
    font-size: 2vw;
    color: white;
    transition-duration: 0.5s;
}

#submitter:hover {
    height: 6vw;
    width: 24vw;
    font-size: 2.4vw;
    background: rgb(64, 64, 64);
}



/*********************************************************************/

.videoSection {

    display: flex;
    align-items: center;
    justify-content: center;
}

#vid {
    display: inline-block;
    width: 70vw;
    height: 35vw;
}



.shifter {
    height: 10vw;
    width: 15vw;
    background: transparent;
    transition-duration: 0.5s;
    border: 4vw;
    font-size: 6vw;
    color: white;
}

.shifter:hover {
    font-size: 8vw;
    color: yellow;
}


/*********************************************************************/

.qTitle {
    animation: colorChange 2s infinite linear;
    color: red;
    font-size: 5vw;
}

@keyframes colorChange {
    /* You could think of as "step 1" */
    0% {color: red}
    50% {color:cyan}
    100% {color:red}
}



#buttonSection {
    display: flexbox;
    justify-content: center;
}

.qButton {
    height: 10vw;
    width: 40vw;
    border-radius: 2vw;
    background: transparent;
    border: 1vw solid;
    font-size: 3vw;
    transition-duration: 0.5s;
}

#button0 {
    color: red;
}
#button1 {
    color: cyan;
}
#button2 {
    color: yellowgreen;
}
#button3 {
    color: orange;
}


.qButton:hover {
    background-color: white;
    color: black;
    height: 12vw;
    width: 48vw;
}

/*********************************************************************/