/* styling for section where video pops up */
.videoSection {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* styling of actual video */
#vid {
    display: inline-block;
    width: 60vw;
    height: 30vw;
}

/* styling for arrows that allow for shifting between videos */
.shifter {
    height: 8vw;
    width: 12vw;
    background: transparent;
    transition-duration: 0.5s;
    border: 4vw;
    font-size: 6vw;
    color: white;
}
.shifter:hover {
    font-size: 8vw;
    color: yellow;
}

/*********************************************************************/

/* media queries to alter styling, 
such that displays take up proportionally more space on screen,
for smaller screen sizes
*/

@media screen and (max-width: 600px) {
    .videoSection {
        display: grid;
    }
    #vid {
        width: 80vw;
        height: 40vw;
    }
    .shifter {
        height: 10vw;
        width: 15vw;
    }
}

/*********************************************************************/